<ul id="myTab" class="nav nav-tabs">
  <li [ngClass]="{'active': visibility === 'intorduction'}" (click)="visibility = 'intorduction'"><a data-toggle="tab">
      自我介绍</a></li>
  <li [ngClass]="{'active': visibility === 'experience'}" (click)="visibility = 'experience'"><a  data-toggle="tab">
      生活经历</a></li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane active" id="home" [ngClass]="{'active': visibility === 'intorduction'}">
    <p>
      姓名：匡航冬
    </p>
    <p>
      年龄：21      
    </p>
    <p>
      目前在读于重庆交通大学南岸校区
    </p>
  </div>
  <div class="tab-pane " id="ios" [ngClass]="{'active': visibility === 'experience'}">
    <p>暂无</p>
  </div>
</div>